[user]
	name = Tharindu Pramuditha
	email = git@tharindu.co
[core]
	excludesFile = ~/.gitignore_global
[init]
	defaultBranch = main
[push]
	autoSetupRemote = true
[fetch]
	prune = true
[merge]
	conflictstyle = zdiff3
[diff]
	algorithm = histogram
[rerere]
	enabled = true
[include]
	path = ~/.gitconfig.local
